    <label for="title">Titre:</label>
    <input type="text" id="title" name="title" value="<%=song.title%>"><br/>
    <label for="album">Album:</label>
    <input type="text" id="album" name="album" value="<%=song.album%>"><br/>
    <label for="artist">Artist</label>
    <input type="text" id="artist" name="artist" value="<%=song.artist%>"><br/>
    <label for="Year">Year: </label>
    <input type="text" id="year" name="year" value="<%=song.year%>"><br/>
    <label for="bpm">BPM:  </label>
    <input type="text" id="bpm" name="bpm" value="<%=song.bpm%>"><br/>
